/* nav bar */
nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #B70707;
    overflow: hidden;
    padding: 1em;
}
nav li {
    display: inline;
}
nav li a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 1em;
}
nav li a:hover {
    background-color: black;
}
/* nav bar */

.profile-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 5rem;
}
#prof {
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
    /*padding-left: 3.5em;*/
    margin-top: 4.5em;
}
/* user input info */
.input-group{
    position: relative;
    margin: 1.5rem 0;
}

input{
    border: none;
    outline: none;
    padding: 0.75rem;
    font-size: 1.5rem;
    width: 90%;
}

.effect{
    border-bottom: 2px solid black;
    padding-left: 0;
}
.effect + .border{
    position: absolute;
    bottom: 0;
    left:0;
    width: 0%;
    height: 2px;
    background-color: #B70707;
    transition: 0.5s;
}

.effect:focus + .border {
    width: 92.2%;
    transition: 0.5s;
}
/* idk yet */
.intro {
    margin-top: 15em;
    margin-left: 10em;
}
.intro h1{
    font-size: 62px;
    color: #D2042D;
    justify-content: center;
}
/* Match button styling */
.seematch{
    display: inline-block;
    border-radius: 14px;
    background-color: #B70707;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    width: 400px;
    cursor: pointer;
}
.seematch a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
}
.seematch span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.seematch span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.seematch:hover span {
  padding-right: 25px;
}

.seematch:hover span:after {
  opacity: 1;
  right: 0;
}
/* End of Match button styling */
.check-container {
    margin-top: 18.2em;
}
#checkhead {
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
}
/* checklist style */
.checklist {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.checklist input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 35px;
  bottom: 1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checklist:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checklist input:checked ~ .checkmark {
  background-color: green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklist input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklist .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
label{
    display: flex;
    flex-direction: column;
}

.check-container h1{
    position: center;
}
/* Upload Button */
.upload{
    display: inline-block;
    border-radius: 8px;
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 35em;
    margin: 1.5em;
    padding: 10px;
    width: 140px;
    cursor: pointer;
}
.upload a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 18px;
}
/* End Upload Button */
/* Outreach Styling */
.purpose {
    margin: 50px;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
}
.purpose h1 {
    font-size: 39px;
    text-decoration: underline;
    margin-bottom: 5px;
}
.purpose p {
    font-size: 28px;
}
.horz-container {
    display: flex;
}
.contact {
    width: 45%;
    margin: 50px;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
}
.contact h1 {
    text-decoration: underline;
}
.contact ul {
    list-style: circle;
}
.contact ul li {
    font-size: 20px;
    padding: 10px;
}
.graph {
    margin: 5em;
}
/* end outreach styling */

/*Verification Styling */
.ver-container{
    display: flex;
}
.team1{
    width: 300px;
    margin: 50px;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
}
.team2{
    width: 350px;
    margin: 50px;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
}
.team3{
    width: 350px;
    margin: 50px;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
}
.team4{
    justify-content: center;
    width: 250px;
    margin-left: 550px;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
    
}
